@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: Inter, sans-serif;
  overflow-x: hidden;

  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

html:not(.dark) body {
  background-color: white;
  color: #0f172a;
}

html.dark body {
  background-color: #020617;
  color: white;
}

* {
  box-sizing: border-box;
}

.app-background {
  position: relative;
}

.app-background::before {
  content: "";
  position: fixed;
  inset: 0;
  pointer-events: none;
  z-index: -1;

  background:
    radial-gradient(
      circle at 20% 20%,
      rgba(59,130,246,0.08),
      transparent 40%
    ),
    radial-gradient(
      circle at 80% 30%,
      rgba(139,92,246,0.08),
      transparent 40%
    );
}

html.dark .app-background::before {
  background:
    radial-gradient(
      circle at 20% 20%,
      #0B1120,
      transparent 40%
    ),
    radial-gradient(
      circle at 80% 30%,
      rgba(139,92,246,0.12),
      transparent 40%
    );
}


@keyframes pulseGlow {
  0% {
    box-shadow: 0 0 0 rgba(96,165,250,0.6);
  }

  50% {
    box-shadow:
      0 0 25px rgba(96,165,250,0.9),
      0 0 50px rgba(96,165,250,0.5);
  }

  100% {
    box-shadow: 0 0 0 rgba(96,165,250,0.6);
  }
}

.ai-glow {
  animation: pulseGlow 2s infinite;
}

/* AI Chatbot Loader */

.typing::after {
  content: "";
  animation: dots 1.5s infinite;
}

@keyframes dots {
  0% {
    content: "";
  }

  33% {
    content: ".";
  }

  66% {
    content: "..";
  }

  100% {
    content: "...";
  }
}


/* Custom Scrollbar for Chatbot Messages */
.chat-scroll::-webkit-scrollbar {
  width: 4px;
}

.chat-scroll::-webkit-scrollbar-track {
  background: transparent;
}

.chat-scroll::-webkit-scrollbar-thumb {
  background: rgba(45, 65, 97, 0.5);
  border-radius: 999px;
}

.chat-scroll::-webkit-scrollbar-thumb:hover {
  background: rgba(59, 130, 246, 0.8);
}